# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# production
dist/
build/

# local env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# TypeScript
*.tsbuildinfo

# local source material and design exports
material/
figma-import/
figma-import.zip

# Vercel
.vercel/
public/images/projects/**/original/
.vercel
